@use "../../assets/sass/variables"as *;
@use "../../assets/sass/icons"as *;

.home {
   background-image: linear-gradient($tertiaryBackColor, $tertiaryBackColor), url(../../assets/images/city.jpg);

   &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 6rem;
      margin: auto;
      padding: 20vh 12vw 30vh;
      max-width: 55vw;

      &-name {
         color: $primaryFontColor;
      }
   }
}

@media screen and (min-width:1440px) {
   .home {
      &__header {
         max-width: 30vw;
      }
   }
}