@use "../../assets/sass/variables"as *;

.contact {
   margin: 12vh 3vh 0;
   padding-bottom: 12vh;

   &__heading {
      border-top: 0.5rem solid $secondaryFontColor;
      padding: 3vh 0 5vh;
   }

   &__logo {
      height: 3rem;

      path {
         fill: $primaryFontColor;
      }

      &:hover {
         path {
            fill: $secondaryFontColor;
         }
      }
   }

   &__flex {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      text-align: center;
   }

   &__subflex {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 3rem 0;
   }

   &__email {
      padding: 0 0 3rem;
      border-bottom: 0.5rem solid $secondaryFontColor;
      margin: 0 5vw;
   }

   &__link {
      display: inline;
   }
}

@media screen and (min-width:768px) {
   .contact {
      &__logo {
         height: 4.5rem;
      }
   }
}

@media screen and (min-width:1024px) {
   .contact {
      &__logo {
         height: 6rem;
      }
   }
}