@use "../../assets/sass/variables"as *;



.nav {
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 0.5rem solid $secondaryFontColor;
   position: fixed;
   top: 0;
   background-image: linear-gradient($tertiaryBackColor, $tertiaryBackColor), url(../../assets/images/city.jpg);
   height: 6rem;

   &__name {
      margin: 0.5rem 1rem;
      color: $secondaryFontColor;
   }

   &__links {
      padding: 1rem;

      &-title {
         text-decoration: none;

      }

      &-titles {
         align-items: center;
         display: flex;
         position: fixed;
         top: 7rem;
         right: 1rem;

      }

      &-icon {
         color: $secondaryFontColor;
      }

      &-name {
         text-decoration: none;
      }

   }

}

@media screen and (min-width:768px) {
   .nav {

      &__links {
         display: flex;

         &-icon {
            display: none;
         }

         &-title {
            position: unset;
            margin-right: 1.5rem;
         }

         &-titles {
            position: static;
         }
      }
   }
}