@use "../../assets/sass/variables"as *;

.nav {
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border-bottom: 0.5rem solid $secondaryFontColor;
   position: fixed;
   top: 0;
   background-image: linear-gradient($tertiaryBackColor, $tertiaryBackColor), url(../../assets/images/city.jpg);
   height: 6rem;

   &__name {
      margin: 0.5rem 1rem;
      color: $secondaryFontColor;
   }

   &__links {
      padding: 1.5rem;


      &-title {
         text-decoration: none;
      }

      &-titles {
         display: none;
      }

      &-icon {
         color: $secondaryFontColor;
      }

      &-name {
         text-decoration: none;
      }

      &--active {
         background-color: $primaryBackColor;
         border: 0.5rem solid $secondaryFontColor;
         box-sizing: border-box;
         padding: 1rem;
      }

   }

}

@media screen and (min-width:768px) {
   .nav {

      &__links {
         display: flex;

         &--active {
            background-color: transparent;
            border: none;
            padding: 1.5rem;
         }

         &-icon {
            display: none;
         }

         &-titles {
            align-items: center;
            display: flex;
            right: 1rem;
         }

         &-title {
            margin-right: 1.5rem;
         }
      }
   }
}