@use "../../assets/sass/variables"as *;


.projects-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;

   &__title {
      max-width: 50vw;
      text-align: center;
      height: 3rem;
   }

   &__image {
      width: 80vw;
      height: auto;
      border: 0.5rem solid $secondaryFontColor;
   }

   &__description {
      width: 70vw;
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 90vw;
   }
}