@use "../../assets/sass/variables"as *;

.experience {
   margin: 12vh 3vh 0;

   &__heading {
      border-top: 0.5rem solid $secondaryFontColor;
      padding: 3vh 0 10vh;
   }

   &__grid {
      display: grid;
      grid-template-areas:
         "html css js"
         "sass boot java";
      justify-content: center;
      margin: 0 auto;

      :nth-child(3n+2) {
         border-left: 0.5rem solid $secondaryFontColor;
         border-right: 0.5rem solid $secondaryFontColor;
      }

   }

   &__logo {
      height: 3rem;
      width: 25vw;
      padding: 5vh 0;

      path {
         fill: $primaryFontColor;
      }

      &:hover {
         path {
            fill: $secondaryFontColor;
         }



      }
   }

   &__html {
      grid-area: html;
   }

   &__css {
      grid-area: css;
   }

   &__js {
      grid-area: js;
   }

   &__sass {
      grid-area: sass;
   }

   &__boot {
      grid-area: boot;
   }

   &__java {
      grid-area: java;
   }

}

@media screen and (min-width:768px) {
   .experience {
      &__logo {
         height: 4.5rem;
         padding: 8vh 0;
      }


   }
}

@media screen and (min-width:1024px) {
   .experience {
      &__grid {
         margin: 0 auto;
      }

      &__logo {
         width: 24rem;
         height: 6rem;
      }


   }
}