@import "https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap";
@import "https://kit.fontawesome.com/8ad8d75bab.js";

$primaryFontColor: #F77F00;
$secondaryFontColor: #E5DAAF;

$primaryBackColor: #001C2B;
$secondaryBackColor: #08344B;
$tertiaryBackColor: rgba(54, 54, 54, 0.65);

$primaryFont:'Work Sans';
$secondaryFont:'Bitter';

$phone-font: 8px;
$tablet-font: 12px;
$desktop-font: 16px;